.top-bar {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0 5%;
}
/*****************Carousel *************/
.c-item {
    height: 70vh!important;
}

/************** Featured Products CSS *************/
.fp-top {
    display: flex;
    gap: 2%;
}
.fp-top .fp-top-left {
    width: 49%;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fp-top .fp-top-right {
    width: 49%;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fp-bottom {
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
